{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navHome">
        <ul class="ulHome">
            <li>
                <a href="{{ path('public.homepage') }}">
                    <div class="navIcon">
                        <div class="logoGrey"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('public.campaign.list') }}">
                    <div class="navIcon">
                        <i class="fa fa-book fa-3x navI"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="navIcon">
                        <i class="fa fa-trophy fa-3x navI"></i>
                    </div>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin.home') }}" title="Admin">
                        <div class="navIcon">
                            <i class="fa fa-cogs fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="/logout" title="Déconnexion">
                        <div class="navIcon">
                            <i class="fa fa-power-off fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('public.login') }}">
                        <div class="navIcon">
                            <i class="fa fa-lock fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block footer %}
    <div class="wc-footer">
        <div class="col-sm-1 footer-empty">
        </div>
        <footer class="col-sm-11 footer-container">
            <div class="col-sm-6 padding-60">
                <h3>Work Competition</h3>
                <p>Propulsé par Eddie Barraco, Corentin Bouix, Alan Ridard, Anthony Visocchi</p>
            </div>
            <div class="col-sm-offset-3 col-sm-3">
                <ul>
                    <li>
                        Work Competition - 2017
                    </li>
                    <li>
                        A propos
                    </li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock %}
