{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        {{ form_start(campaignCreationForm, {'action': path('admin.campaign.create') }) }}

        {{ form_end(campaignCreationForm) }}
    </div>
{% endblock %}
