{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        {{ dump(campaign) }}
	<a href="{{ path('admin.campaign.delete', {'campaignId': campaign.id}) }}">Delete</a>
	<a href="{{ path('admin.campaign.update', {'campaignId': campaign.id}) }}">Modify</a>
	<a href="{{ path('admin.realisation.create', {'campaignId': campaign.id}) }}">Add campaign</a>
    </div>
{% endblock %}
