{% extends '::base.html.twig' %}

{% block header %}
    <header>
    </header>
{% endblock %}

{% block nav %}
    <nav>
	<a href="{{ path('admin.administrator.list') }}">Administrators</a> |
	<a href="{{ path('admin.campaign_administrator.list') }}">Campaign Administrators</a> |
	<a href="{{ path('admin.campaign.list') }}">Campaigns</a> |
	<a href="{{ path('admin.realisation.list') }}">Realisations</a>
    </nav>
{% endblock %}
