{% extends 'AppBundle::layoutFO.html.twig' %}

{% block main %}
    <div class="col-sm-12 no-padding">
        <div class="home index page-wrap">
            <div class="wc-title-banner">
                <h2>Connexion</h2>
            </div>
            <div class="wc-container">
                <div class="col-sm-12">
                    <div class="wc-admin-block">
                        {{ error }}

                        <form action="{{ path('public.login') }}" method="post" class="formLogin">
                            <input type="text" class="inputLogin" placeholder="Adresse E-mail" id="username"
                                   name="_username"
                                   value="{{ lastUsername }}"/>

                            <input type="password" class="inputLogin" placeholder="Mot de passe" id="password"
                                   name="_password"/>
                            <button type="submit" class="btnLogin">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}