{% extends 'AppBundle::navbarBO.html.twig' %}

{% block body %}
    <div class="page-wrap">
        <div class="wc-title-banner">
            <h2>Noter la réalisation</h2>
        </div>
        <div class="wc-container">
            <div class="col-sm-12">
                <div class="wc-admin-block">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
