<h1>Bonjour {{ invitation.email }},</h1>

<p>
    Vous êtes invité à
{% set link = path('public.register.invitation', {'invitationToken' : invitation.invitationToken  }) %}
    {% if invitation.assignedCampaign is not empty %}
        rejoindre la camapgne : {{ campaign.name }}.
    {% elseif invitation.role == 'Administrator' %}
        collaborer en tant qu'administrateur.
    {% elseif invitation.role == 'CampaignAdministrator' %}
        collaborer en tant qu'administrateur de campagne.
    {% elseif invitation.role == 'Juror' %}
        collaborer en tant que juré de campagne.
    {% endif %}
</p>

<p>Voici votre lien d'activation :</p>
<a href="{{ link }}">{{ link }}</a>
