{% extends 'AppBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="col-sm-12 no-padding">
        <div class="competitions page-wrap">
            <div class="wc-title-banner">
                <h2>Compétitions</h2>
            </div>
            {% for campaign in campaigns %}

                <div class="col-sm-3" >
                    <div class="wc-project-competitionPage">
                        <a href="" class="wc-img-competitionPage">
                            <img src="campaignImages/{{ campaign.imageName }}" />
                        </a>
                    <div class="wc-info-competitionPage">
                        <a href=""><p class="wc-name-competitionPage">{{ campaign.name }}</p></a>
                        <!--path('admin.campaign.show', {'campaignId': realisation.campaign.id-->
                        <p class="wc-category-competitionPage">{{ campaign.description }}</p>
                        <p class="wc-desc-competitionPage">{{ campaign.endDate }}</p>
                    </div>
                    </div>
                </div>
            {% endfor %}

        </div>
{% endblock %}
