{% extends 'AppBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="col-sm-12 no-padding">
        <div class="competitions page-wrap">
            <div class="wc-title-banner">
                <h2>Compétitions</h2>
	    </div>
	    {% for campaign in campaigns %}
		<div class="col-sm-3" >
		    <div class="wc-project-competitionPage">
			<a href="{{ path('public.campaign.show', {'campaignId': campaign.id}) }}">
			    <img src="campaignImages/{{ campaign.imageName }}" class="wc-picture-competitionPage" />
			</a>
			<div class="wc-info-competitionPage">
			    <p class="wc-name-competitionPage">{{ campaign.name }}</p>
			    <p class="wc-category-competitionPage">Catégorie</p>
			    <p class="wc-desc-competitionPage">{{ campaign.description }}</p>
			</div>
		    </div>
		</div>
	    {% endfor %}
	</div>
{% endblock %}
