{% extends 'AppBundle::layoutFO.html.twig' %}

{% block main %}
    <div class="col-sm-12 no-padding">
        <div class="page-wrap">

            <div class="wc-container">
                <div class="jumbotron text-left about-container">
                    Site réalisé dans le cadre de la licence professionnelle METINET à Bourg-en-Bresse par le groupe composé de Corentin Bouix, Eddie Barraco, Anthony Visocchi et Alan Ridard.<br />

                    Ce site est entièrement réalisé avec Symfony 3 en PHP 7, HTML5/CSS3 et JQuery.<br />

                    Ce site reste fictif et n'a pas pour but de devenir commercial n'y d'être utilisé dans le cadre d'un quelconque organisme.
                </div>
            </div>
        </div>
    </div>
{% endblock %}