{% extends 'AppBundle::layoutFO.html.twig' %}

{% block main %}
    <div class="col-sm-12 no-padding">
        <div class="home index page-wrap">
            <img alt="Logo" class="logoSansFond" src="{{ asset('img/logoSansFond.png') }}"/>
            <h1 class="slogan">Participez à des concours<br/>dans de multiples disciplines</h1>
            <a href="{{ path('public.campaign.list') }}"><button class="wc-btn">Voir les concours</button></a>
        </div>
    </div>
{% endblock %}
