{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navHome">
        <ul class="ulHome" >
            <li>
                <a href="{{ path('public.homepage') }}">
                    <div class="navIcon">
                        <div class="logoGrey"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('public.campaign.list') }}">
                    <div class="navIcon">
                        <i class="fa fa-book fa-3x navI"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="navIcon">
                        <i class="fa fa-trophy fa-3x navI"></i>
                    </div>
                </a>
            </li>
            <li>
                {#<a href="{{ path('public.admin.login') }}">#}
                    {#<div class="navIcon">#}
                        {#<i class="fa fa-lock fa-3x navI"></i>#}
                    {#</div>#}
                {#</a>#}
            </li>
        </ul>
    </nav>
{% endblock %}


{% block footer %}
    <div class="wc-footer">
        <div class="col-sm-1 footer-empty">
        </div>
        <footer class="col-sm-11 footer-container">
            <div class="col-sm-6 padding-60">
                <h3>WORK Competition</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus n
                    ac habitasse platea dictumst. Duis fermentum purus ac quam finibu
                </p>
            </div>
            <div class="col-sm-offset-3 col-sm-3">
                <ul>
                    <li>
                        Work Competition - 2017
                    </li>
                    <li>
                        A propos
                    </li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock %}